.main {
    background-image: linear-gradient(rgb(126, 42, 42), rgba(0, 0, 0, 0.699)), url('images/bg1.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 150px;
    border-top-left-radius: 5% 50px;
    border-top-right-radius: 5% 50px;
    height: 679px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 120px 0 130px;    margin-bottom: 200px;
    position: relative;
    padding: 20px;
}
.para{
    font-size: 10px;
    padding-left: 40px;
    font-size: 10px;
}
.list{
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.664);
}
a:hover{
    text-decoration: none;
    color:white;
}
.icon{
    padding-top: 15px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    overflow: hidden;
    padding-bottom: 150px;
}
h1{
    font-family: sans-serif;
    font-size: 60px;
    margin: 0;
}

.heading p{
    font-size: 15px;
}
button{
    background-color:rgb(126, 42, 42);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 70px;
    margin:0 0 200px 0;
}
button:hover{
    transition: 1s;
    background-color: rgb(22, 241, 121);
}
svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    margin: 0;
    padding:0; 
}
img{
    height: 200px;
    width: 350px;
}

.pfl{
    height: 35px;
    width: 35px;
    border-radius: 100px;
}
.spn{
padding-left: 10px;
}

.profile {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.mini{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px ;
}
h2{
    color: black;
    font-size: 20px;
    padding-left: 30px;
}
h3{
    font-size: 16px;
    color: #333;
    margin: 8px;
}

.course-container {
    display: flex;
    justify-content: center;
    gap: 30px;              
    flex-wrap: wrap;        
    padding: 20px;
    background-color: white
}


.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;         
    width: 350px;
    border-radius: 10px;  
    overflow: hidden;     
    box-shadow: 0 4px 8px black
}

.gallery :hover{
    background-color: rgb(126, 42, 42);
    transition: 3s;
}
.content{
    background-color: white;
    padding-bottom: 13px;
}

.rating{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 15px 0 10px;
    color: gold;
}
.footer{
    display: flex;
    justify-content:center;
    font-size: 15px;
    margin-top: 50px;
}

